.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}


.media-object {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

img {
    width: 300px;
    height: auto;
}
.media-object-text {
    display: flex;
    flex-flow: column wrap;
}