* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-one {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.logo {
    font-size: 24px;
    color: #f9faf8
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

a, .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.media-object {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 100px 250px;
    gap: 48px;
}

.image img {
    width: 500px;
    height: auto;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.media-object-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    gap: 16px;
}

.media-object-text button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    padding: 8px 24px;
    border-radius: 50px;
    border-style: none;
}

.section-two {
    text-align: center;
}

.info img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border-color: #3882f6;
    border-style: solid;
    border-width: 5px;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    font-family: #1f2937;
    text-align: center;
    margin: 50px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 100px;
}

.info {
    max-width: 200px;
}

.section-three {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-complete {
    margin: 100px;
    max-width: 800px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.quote-source {
    display: flex;
    flex-direction: row-reverse;
    font-weight: 700;
    font-size: 24px;
    padding-right: 24px;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    margin: 100px;
    width: 800px;
    color: white;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    padding: 50px 75px;
    border-radius: 15px;
    gap: 80px;
}

.action-container button {
    background-color: #3882f6;
    color: white;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    padding: 0px 40px;
    font-size: 18px;
}

.heading {
    font-size: 24px;
    font-weight: 700;
}

.subtext {
    font-size: 18px;
    color:#e5e7eb;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    height: 100px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}