* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-one {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.logo {
    font-size: 24px;
    color: #f9faf8
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

a, .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.media-object {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 100px 250px;
    gap: 48px;
}

.image img {
    width: 500px;
    height: auto;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.media-object-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    gap: 16px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    padding: 8px 24px;
    border-radius: 50px;
    border-style: none;
}

.info img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    border-color: #3882f6;
    border-style: solid;
    border-width: 5px;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    font-family: #1f2937;
    text-align: center;
    margin: 50px;
}