.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

img {
    width: 300px;
    height: auto;
}